@import "bulma"

table.data-table
  @extend .table
  @extend .is-hoverable

  border: $table-cell-border

  td
    vertical-align: middle

  thead
    th.data-table__title
      text-align: center
      border-width: 0
      background-color: $table-row-hover-background-color

  .data-table__buttons
    @extend .buttons

  .data-table__button
    @extend .button
    @extend .is-small
    @extend .is-outlined
    font-weight: normal

  .data-table__button--delete
    @extend .data-table__button
    @extend .is-danger

